/* html {
  height: 100%;
  background: rgb(151, 56, 140);
  background: linear-gradient(
    180deg,
    rgba(151, 56, 140, 1) 0%,
    rgba(159, 54, 22, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p,
h1,
h3 {
  color: white;
}

.deskripsi {
  background-color: transparent;
  text-align: center;
  border: 5px solid rgba(216, 197, 192, 0.5);
  padding: 10px 10px;
  margin: 0 50px;
}


button {
  width: 200px;
  padding: 10px 10px;
  border-radius: 3px;
  border: 0px solid black;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #b4bdc5;
}

.trackSong{
  margin: 20px;
}

.listSong{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: 0;
  justify-content: space-around;
}

.track{
  width:40%;
  margin-bottom:20px;
  padding-top:20px;
  padding-bottom:10px;
  border-radius:5px;
  border:#b4bdc5 solid 2px;
}

.track:hover{
  background-color: rgba(196, 179, 179, 0.5);
}

h1{
  margin-left: 50px;
}

.inputan{
  display: flex;
  justify-content: center;
  margin:20px;
  align-items: center;
}

.inptSrc{
  width: 100px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.btnInput{
  margin-left: 20px;
}

.logincontent{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logincontent .tombol{
  float: left;
  margin-left:50px;
}

ul, .navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}

nav{
  width: 100%;
}

li{
  list-style: none;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  float: le;
}

nav a:hover{
  color: #b4bdc5;
}

.login{
  margin-top:20px;
  font-size: 20px;
}

.login a{
  text-decoration: none;
  color: #fff;
  margin:0 auto;
}

.login a:hover{
  color: #b4bdc5;
}

form{
  margin-left:50px;
  color:#fff;
}

form input, textarea{
  padding:10px;
  margin-bottom:10px;
}

/* .Loginpage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left:300px;
}

.logincontent h1{
  margin: 0 auto;
  margin-bottom:10px;
}

.navibar li{
  float: left;
  margin-left:30px;
  margin-top:20px;
  list-style-type: none;
  color:#fff;
}

.navibar li a{
  text-decoration: none;
  display: inline;
  color: #fff;
}

.topbar{
  display: inline-block;
}

.navbar .logo{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.navbar{
  width: 100%;
  margin-top: 30px;
  float:left;
}

.logo h1{
  float:left;
}

.playlist-content{
  display: flex;
  margin-left:50px;
  margin-top: 20px;
} */

/* .login{
  margin-left: 50px;
}

.login a{
  text-decoration: none;
  color: #fff;
} */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
