html {
  height: 100%;
  background: rgb(151, 56, 140);
  background: linear-gradient(
    180deg,
    rgba(151, 56, 140, 1) 0%,
    rgba(159, 54, 22, 1) 100%
  );
}

p,
h1,
h3 {
  color: white;
}

.deskripsi {
  background-color: transparent;
  text-align: center;
  border: 5px solid black;
  padding: 10px 20px;
  margin: 5px;
}

/* .form-content input,
textarea {
  margin-bottom: 5px;
  border-radius: 2px;
  border: 0px solid black;
  padding: 5px;
}

.form-content {
  margin-bottom: 10px;
}

.form {
  padding: px;
  margin-bottom: 10px;
  margin-left: 10px;
} */

button {
  width: 200px;
  padding: 10px 10px;
  border-radius: 3px;
  border: 0px solid black;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #b4bdc5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
