html {
  height: 100%;
  background: rgb(151, 56, 140);
  background: linear-gradient(
    180deg,
    rgba(151, 56, 140, 1) 0%,
    rgba(159, 54, 22, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p,
h1,
h3 {
  color: white;
}

.deskripsi {
  background-color: transparent;
  text-align: center;
  border: 5px solid rgba(216, 197, 192, 0.5);
  padding: 10px 10px;
  margin: 0 50px;
}


button {
  width: 200px;
  padding: 10px 10px;
  border-radius: 3px;
  border: 0px solid black;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #b4bdc5;
}

.trackSong{
  margin: 20px;
}

.listSong{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: 0;
  justify-content: space-around;
}

.track{
  width:40%;
  margin-bottom:20px;
  padding-top:20px;
  padding-bottom:10px;
}

.track:hover{
  background-color: rgba(196, 179, 179, 0.5);
}

h1{
  margin-left: 50px;
}

.inputan{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.inptSrc{
  width: 100px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.btnInput{
  margin-left: 20px;
}

form{
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
